Repository parameter1/ascend-media-websites, pull requests merged in 2020-11, with the labels that each got.

#67 Add Native-X support to QCOR
  packages/shared/components/blocks/content-featured.marko
  packages/shared/native-x/build-config.js
  packages/shared/package.json
  packages/shared/start-server.js
  sites/bcvs.hub.heart.org/package.json
  sites/hearthubs.org/package.json
  sites/hypertension.hub.heart.org/package.json
  sites/imex.ascendmedia.com/package.json
  sites/qcor.hub.heart.org/config/native-x.js
  sites/qcor.hub.heart.org/config/site.js
  sites/qcor.hub.heart.org/package.json
  sites/qcor.hub.heart.org/server/templates/index.marko
  sites/sessions.hub.heart.org/package.json
  sites/vasculardiscovery.hub.heart.org/package.json
Labels: 🌐 site: qcor.hub.heart.org

#68 Change sessions query for standard hero
  packages/shared/components/blocks/standard-hero.marko
  packages/shared/templates/website-section/index.marko
  sites/sessions.hub.heart.org/server/templates/index.marko
Labels: 🌐 site: sessions.hub.heart.org

#69 ISC Setup
  .travis.yml
  docker-compose.yml
  packages/shared/components/flows/content/card-deck.marko
  packages/shared/templates/website-section/index.marko
  sites/isc.hub.heart.org/browser/.eslintrc.js
  sites/isc.hub.heart.org/browser/index.js
  sites/isc.hub.heart.org/config/blocks.js
  sites/isc.hub.heart.org/config/core.js
  sites/isc.hub.heart.org/config/gam.js
  sites/isc.hub.heart.org/config/logos.js
  sites/isc.hub.heart.org/config/native-x.js
  sites/isc.hub.heart.org/config/navigation.js
  sites/isc.hub.heart.org/config/site.js
  sites/isc.hub.heart.org/index.js
  sites/isc.hub.heart.org/marko.json
  sites/isc.hub.heart.org/newrelic.js
  sites/isc.hub.heart.org/package.json
  sites/isc.hub.heart.org/server/components/blocks/global-right-rail.marko
  sites/isc.hub.heart.org/server/components/blocks/marko.json
  sites/isc.hub.heart.org/server/components/marko.json
  sites/isc.hub.heart.org/server/public/android-chrome-192x192.png
  sites/isc.hub.heart.org/server/public/android-chrome-512x512.png
  sites/isc.hub.heart.org/server/public/apple-touch-icon.png
  sites/isc.hub.heart.org/server/public/favicon-16x16.png
  sites/isc.hub.heart.org/server/public/favicon-32x32.png
  sites/isc.hub.heart.org/server/public/favicon.ico
  sites/isc.hub.heart.org/server/public/robots.txt
  sites/isc.hub.heart.org/server/public/site.webmanifest
  sites/isc.hub.heart.org/server/routes/content.js
  sites/isc.hub.heart.org/server/routes/dynamic-page.js
  sites/isc.hub.heart.org/server/routes/home.js
  sites/isc.hub.heart.org/server/routes/index.js
  sites/isc.hub.heart.org/server/routes/search.js
  sites/isc.hub.heart.org/server/routes/website-section/index.js
  sites/isc.hub.heart.org/server/styles/index.scss
  sites/isc.hub.heart.org/server/templates/content/index.marko
  sites/isc.hub.heart.org/server/templates/index.marko
  sites/isc.hub.heart.org/server/templates/website-section/2020-program.marko
  sites/isc.hub.heart.org/server/utils/shuffle-array.js
Labels: site: isc.hub.heart.org

#70 Update logo, on demand url
  sites/sessions.hub.heart.org/config/logos.js
  sites/sessions.hub.heart.org/config/navigation.js
Labels: 🌐 site: sessions.hub.heart.org

#71 Add "Paid Advertisement" label to select ads, update navigation
  packages/shared/components/flows/content/card-deck.marko
  packages/shared/components/flows/content/marko.json
  packages/shared/scss/components/_ad-container.scss
  packages/shared/templates/search.marko
  packages/shared/templates/website-section/index.marko
  sites/sessions.hub.heart.org/config/navigation.js
  sites/sessions.hub.heart.org/config/site.js
  sites/sessions.hub.heart.org/server/components/blocks/global-right-rail.marko
  sites/sessions.hub.heart.org/server/templates/content/index.marko
  sites/sessions.hub.heart.org/server/templates/index.marko
Labels: 🌐 site: sessions.hub.heart.org

#72 Add marko-web-resolve-page wrapper to website-section
  packages/shared/templates/website-section/index.marko
Labels: 🌐 site: sessions.hub.heart.org

#73 ISC logo, background, header updates
  sites/isc.hub.heart.org/config/logos.js
  sites/isc.hub.heart.org/server/styles/index.scss
Labels: site: isc.hub.heart.org

#74 Add industry resources block to home page
  sites/isc.hub.heart.org/server/templates/index.marko
Labels: site: isc.hub.heart.org

#76 Update navigation
  sites/isc.hub.heart.org/config/navigation.js
Labels: site: isc.hub.heart.org

#77 Update Homepage Nx and banner positions
  sites/isc.hub.heart.org/server/templates/index.marko
Labels: 🌐 site: isc.hub.heart.org

#78 Add ISC Supported Content logic
  packages/shared/components/nodes/content-list.marko
  packages/shared/config/gam.js
  packages/shared/graphql/fragments/content-list.js
  packages/shared/graphql/fragments/content-page.js
  sites/isc.hub.heart.org/server/styles/index.scss
  sites/isc.hub.heart.org/server/templates/content/index.marko
Labels: 🌐 site: isc.hub.heart.org
