Repository parameter1/ascend-media-websites, pull requests merged in 2021-09, with the labels that each got.

#207 Update AHA Scientific Sessions to use new standard theme
  sites/sessions.hub.heart.org/browser/index.js
  sites/sessions.hub.heart.org/config/gam.js
  sites/sessions.hub.heart.org/config/logos.js
  sites/sessions.hub.heart.org/config/site.js
  sites/sessions.hub.heart.org/index.js
  sites/sessions.hub.heart.org/marko.json
  sites/sessions.hub.heart.org/newrelic.js
  sites/sessions.hub.heart.org/package.json
  sites/sessions.hub.heart.org/server/components/blocks/global-right-rail.marko
  sites/sessions.hub.heart.org/server/components/blocks/marko.json
  sites/sessions.hub.heart.org/server/components/marko.json
  sites/sessions.hub.heart.org/server/routes/content.js
  sites/sessions.hub.heart.org/server/routes/dynamic-page.js
  sites/sessions.hub.heart.org/server/routes/home.js
  sites/sessions.hub.heart.org/server/routes/search.js
  sites/sessions.hub.heart.org/server/routes/website-section/index.js
  sites/sessions.hub.heart.org/server/styles/index.scss
  sites/sessions.hub.heart.org/server/templates/content/index.marko
  sites/sessions.hub.heart.org/server/templates/index.marko
  sites/sessions.hub.heart.org/server/templates/website-section/2020-program.marko
  sites/sessions.hub.heart.org/server/utils/shuffle-array.js
Labels: 🌐 site: sessions.hub.heart.org

#218 Update all heart sites to use shared vascular ad units
  sites/bcvs.hub.heart.org/config/gam.js
  sites/hypertension.hub.heart.org/config/gam.js
  sites/qcor.hub.heart.org/config/gam.js
  sites/vasculardiscovery.hub.heart.org/config/gam.js
Labels: 🌐 site: hypertension.hub.heart.org, 🌐 site: bcvs.hub.heart.org, 🌐 site: vasculardiscovery.hub.heart.org, 🌐 site: qcor.hub.heart.org

#230 Fix rectangular gap appearing in load-more section
  packages/global/templates/website-section/index.marko
Labels: bug, 🌐 site: ALL

#232 Update ‘Program’ menu item to open in new page
  sites/sessions.hub.heart.org/config/navigation.js
Labels: 🌐 site: sessions.hub.heart.org
