Repository parameter1/ascend-media-websites, pull requests merged in 2022-07, with the labels that each got.

#342 Enable Featured Exhibitors Sessions
  packages/global/browser/index.js
  packages/global/components/blocks/featured-exhibitors.marko
  packages/global/components/blocks/marko.json
  packages/global/components/document.marko
  packages/global/graphql/fragments/featured-exhibitors.js
  packages/global/package.json
  packages/global/scss/components/_ad-container.scss
  packages/global/scss/components/_site-footer.scss
  packages/global/scss/theme.scss
  packages/global/templates/content/company.marko
  sites/sessions.hub.heart.org/config/gam.js
  sites/sessions.hub.heart.org/config/navigation.js
  sites/sessions.hub.heart.org/config/site.js
  sites/sessions.hub.heart.org/server/routes/website-section/index.js
  sites/sessions.hub.heart.org/server/templates/website-section/featured-exhibitors.marko
  yarn.lock
Labels: 🌐 site: sessions.hub.heart.org

#344 Move native ad slot and update nav on IMEX
  sites/imex.ascendmedia.com/config/navigation.js
  sites/imex.ascendmedia.com/server/templates/index.marko
  sites/imexfrankfurt.ascendmedia.com/server/templates/index.marko
Labels: 🌐 site: imex.ascendmedia.com, 🌐 site: imex-ff.ascendmedia.com

#346 Only retrieve ad unit once, handle accordingly
  packages/global/templates/content/index.marko
Labels: bug
