Repository parameter1/ascend-media-websites, pull requests merged in 2022-10, with the labels that each got.

#385 Update Load More, enable reskin AD for AAD Company Pages
  docker-compose.yml
  packages/global/templates/content/index.marko
  sites/aadmeetingnews.org/config/gam.js
  sites/aadmeetingnews.org/config/site.js
Labels: site: aadmeetingnews.org

#388 Properly render input.aboveContainer in global theme allowing for reskin ads.
  packages/global/components/document.marko
  packages/global/templates/website-section/home.marko
  packages/global/templates/website-section/index.marko
  sites/ashp.org/server/templates/index.marko
  sites/ashp.org/server/templates/website-section/index.marko
  sites/examplesite.org/server/templates/index.marko
Labels: bug, 🌐 site: ALL

#402 Change background and text color of More From on company pages, ISC and Sessions.
  packages/global/components/blocks/load-more/content-page.marko
  packages/global/components/blocks/load-more/latest-content-feed.marko
  sites/isc.hub.heart.org/server/styles/index.scss
  sites/sessions.hub.heart.org/server/styles/index.scss
Labels: 🌐 site: sessions.hub.heart.org, 🌐 site: isc.hub.heart.org

#399 Template and Routing for ```/classifieds``` Bulletin
  packages/bulletin/components/marko.json
  packages/bulletin/components/page/classifieds.marko
  packages/bulletin/components/page/marko.json
  packages/daily/components/blocks/content-hero.marko
  packages/daily/components/blocks/marko.json
  packages/daily/components/blocks/native-x-hero-card.marko
  packages/daily/components/blocks/section-list.marko
  sites/bulletin.entnet.org/config/native-x.js
  sites/bulletin.entnet.org/config/site.js
  sites/bulletin.entnet.org/server/routes/classifieds.js
  sites/bulletin.entnet.org/server/routes/index.js
  sites/bulletin.entnet.org/server/styles/index.scss
  sites/bulletin.entnet.org/server/templates/website-section/classifieds.marko
Labels: 🌐 site: bulletin.entnet.org

#387 Creation of Native-X section template, use for Industry Highlights Sessions
  packages/global/templates/website-section/native-x.marko
  sites/sessions.hub.heart.org/server/routes/website-section/index.js
Labels: 🌐 site: sessions.hub.heart.org

#406 Update ‘Program’ link
  sites/sessions.hub.heart.org/config/navigation.js
Labels: 🌐 site: sessions.hub.heart.org
