Repository parameter1/ascend-media-websites, pull requests merged in 2022-12, with the labels that each got.

#429 Add nativeX route for ‘Industry Highlights’ section
  sites/aadmeetingnews.org/config/native-x.js
  sites/aadmeetingnews.org/server/routes/website-section/index.js
  sites/auadailynews.org/config/native-x.js
  sites/auadailynews.org/server/routes/website-section/index.js
  sites/isc.hub.heart.org/config/native-x.js
  sites/isc.hub.heart.org/server/routes/website-section/index.js
  sites/sessions.hub.heart.org/config/site.js
Labels: 🌐 site: isc.hub.heart.org, site: aadmeetingnews.org, 🌐 site: auadailynews.org

#430 Add 300x250 mobile ad size
  packages/daily/config/gam.js
  packages/global/config/gam.js
  sites/bulletin.entnet.org/config/gam.js
  sites/hearthubs.org/config/gam.js
  sites/minexpo.com/config/gam.js
Labels: 🌐 site: ALL

#435 Implement 'Featured Exhibitors' Native-X block, alter navigation label for 'Register Now', IMEX Frankfurt
  sites/imexfrankfurt.ascendmedia.com/config/navigation.js
  sites/imexfrankfurt.ascendmedia.com/server/components/blocks/global-right-rail.marko
  sites/imexfrankfurt.ascendmedia.com/server/templates/index.marko
Labels: 🌐 site: imex-ff.ascendmedia.com

#434 Remove links from navigation
  sites/isc.hub.heart.org/config/navigation.js
Labels: 🌐 site: isc.hub.heart.org

#437 Support fixed position Native-X ads, Correct logic in `package-daily`
  packages/daily/components/blocks/content-featured.marko
  packages/daily/components/blocks/section-list.marko
  packages/daily/components/flows/content/card-deck.marko
  packages/global/components/flows/content/card-deck.marko
  packages/global/templates/website-section/home.marko
  packages/global/templates/website-section/index.marko
  sites/aadmeetingnews.org/server/templates/website-section/home.marko
  sites/asa.org/server/templates/website-section/home.marko
  sites/ashp.org/server/templates/index.marko
  sites/ashp.org/server/templates/website-section/index.marko
  sites/auadailynews.org/server/templates/website-section/home.marko
  sites/isc.hub.heart.org/server/templates/website-section/home.marko
  sites/sessions.hub.heart.org/server/templates/website-section/home.marko
Labels: 🌐 site: ALL

#438 Update nav Program & Registration links
  sites/aadmeetingnews.org/config/navigation.js
Labels: site: aadmeetingnews.org
