Repository parameter1/ascend-media-websites, pull requests merged in 2022-03, with the labels that each got.

#310 Upgrade dependencies
  packages/bulletin/package.json
  packages/common/package.json
  packages/contact-us/package.json
  packages/daily/package.json
  packages/directory/package.json
  packages/global/package.json
  packages/minexpo/package.json
  packages/shared/package.json
  sites/aadmeetingnews.org/package.json
  sites/aao.hns.org/package.json
  sites/acep.org/package.json
  sites/asa.org/package.json
  sites/ashp.org/package.json
  sites/auadailynews.org/package.json
  sites/bcvs.hub.heart.org/package.json
  sites/bulletin.entnet.org/package.json
  sites/examplesite.org/package.json
  sites/hearthubs.org/package.json
  sites/hypertension.hub.heart.org/package.json
  sites/imex.ascendmedia.com/package.json
  sites/isc.hub.heart.org/package.json
  sites/minexpo.com/package.json
  sites/qcor.hub.heart.org/package.json
  sites/sessions.hub.heart.org/package.json
  sites/shm.org/package.json
  sites/vasculardiscovery.hub.heart.org/package.json
  yarn.lock
Labels: 🌐 site: ALL

#314 Update ‘Advertise’ link
  sites/bulletin.entnet.org/config/navigation.js
Labels: 🌐 site: bulletin.entnet.org

#315 Facebook Domin Verification Meta Tag, AAD Meeting News.
  sites/aadmeetingnews.org/server/templates/index.marko
Labels: site: aadmeetingnews.org
