Repository parameter1/ascend-media-websites, pull requests merged in 2023-05, with the labels that each got.

#468 Modify template and routing for Contact Us page, include form, AM Pulmonary
  packages/global-monorail/browser/index.js
  packages/global-monorail/package.json
  packages/global-monorail/scss/core.scss
  packages/global-monorail/start-server.js
  packages/global-monorail/templates/content/contact-us.marko
  sites/ampulmonary.com/config/site.js
  sites/ampulmonary.com/server/routes/contact-us.js
  sites/ampulmonary.com/server/routes/dynamic-page.js
Labels: 🌐 site: ampulmonary.com

#470 Update More In and Section feed block for Native-X ad serving
  packages/global-monorail/components/wrappers/section-feed.marko
Labels: 🌐 site: ampulmonary.com

#469 If content type is `Page` don’t load `@below-page` contents
  packages/global-monorail/components/layouts/content/wrapper.marko
Labels: 🌐 site: ampulmonary.com

#472 Update title and description of Native-X block on homepage
  sites/ampulmonary.com/server/templates/index.marko
Labels: 🌐 site: ampulmonary.com

#477 Update IMEX-FF logo, favicon, primary color
  sites/imexfrankfurt.ascendmedia.com/config/logos.js
  sites/imexfrankfurt.ascendmedia.com/server/public/android-chrome-192x192.png
  sites/imexfrankfurt.ascendmedia.com/server/public/android-chrome-512x512.png
  sites/imexfrankfurt.ascendmedia.com/server/public/apple-touch-icon.png
  sites/imexfrankfurt.ascendmedia.com/server/public/favicon-16x16.png
  sites/imexfrankfurt.ascendmedia.com/server/public/favicon-32x32.png
  sites/imexfrankfurt.ascendmedia.com/server/public/favicon.ico
  sites/imexfrankfurt.ascendmedia.com/server/styles/index.scss
Labels: 🌐 site: imex-ff.ascendmedia.com

#479 Update site logos
  sites/ampulmonary.com/config/site.js
Labels: 🌐 site: ampulmonary.com

#471 Left-align caption for images that are align=“right”
  packages/global-monorail/scss/core.scss
Labels: 🌐 site: ampulmonary.com

#478 Add About Us to navigation and footer
  packages/global-monorail/components/site-menu/index.marko
  sites/ampulmonary.com/config/navigation.js
Labels: 🌐 site: ampulmonary.com

#473 Inject Native-X ads into body copy
  packages/global-monorail/components/layouts/content/default.marko
  packages/global-monorail/scss/core.scss
  packages/global-monorail/utils/content-native-ad-inject.js
Labels: 🌐 site: ampulmonary.com

#481 Use input.alias for `sectionAlias` query parameter
  packages/global-monorail/components/wrappers/section-feed.marko
Labels: bug, 🌐 site: ampulmonary.com
