Repository parameter1/ascend-media-websites, pull requests merged in 2023-03, with the labels that each got.

#458 Update AUA site
  packages/global/templates/website-section/index.marko
  sites/ampulmonary.com/server/routes/contact-us.js
  sites/auadailynews.org/config/logos.js
  sites/auadailynews.org/config/navigation.js
  sites/auadailynews.org/server/styles/index.scss
Labels: 🌐 site: auadailynews.org

#460 Add Interesting Stories block to Daily Coverage Channel, AAD.
  packages/global/templates/website-section/interesting-stories.marko
  sites/aadmeetingnews.org/server/routes/website-section/index.js
Labels: site: aadmeetingnews.org

#463 Change ‘Classifieds’ to ‘Jobs/Events’
  sites/bulletin.entnet.org/config/navigation.js
Labels: 🌐 site: bulletin.entnet.org
