Repository parameter1/ascend-media-websites, pull requests merged in 2023-09, with the labels that each got.

#506 Use alternative logo for `aesthetics` section, AAD
  packages/global/components/site-header.marko
  sites/aadmeetingnews.org/config/logos.js
Labels: site: aadmeetingnews.org

#507 Create photo gallery layout
  sites/sessions.hub.heart.org/server/routes/content.js
  sites/sessions.hub.heart.org/server/templates/content/media-gallery.marko
Labels: 🌐 site: sessions.hub.heart.org

#515 IMEX America primary color update and logo srcset correction
  sites/imex.ascendmedia.com/config/logos.js
  sites/imex.ascendmedia.com/server/styles/index.scss
Labels: 🌐 site: imex.ascendmedia.com

#516 Use native-x compat api
  packages/bulletin/package.json
  packages/daily/native-x/build-config.js
  packages/daily/package.json
  packages/daily/templates/content/native-x-story.marko
  packages/global-monorail/config/native-x.js
  packages/global-monorail/package.json
  packages/global-monorail/templates/content/native-x-story.marko
  packages/global/native-x/build-config.js
  packages/global/package.json
  packages/global/templates/content/native-x-story.marko
  packages/minexpo/package.json
  sites/aadmeetingnews.org/package.json
  sites/aao.hns.org/package.json
  sites/acep.org/package.json
  sites/ampulmonary.com/package.json
  sites/asa.org/package.json
  sites/ashp.org/package.json
  sites/auadailynews.org/package.json
  sites/bcvs.hub.heart.org/package.json
  sites/bulletin.entnet.org/package.json
  sites/examplesite.org/package.json
  sites/hearthubs.org/package.json
  sites/hypertension.hub.heart.org/package.json
  sites/imex.ascendmedia.com/package.json
  sites/imexfrankfurt.ascendmedia.com/package.json
  sites/isc.hub.heart.org/package.json
  sites/minexpo.com/package.json
  sites/qcor.hub.heart.org/package.json
  sites/sessions.hub.heart.org/package.json
  sites/shm.org/package.json
  sites/vasculardiscovery.hub.heart.org/package.json
  yarn.lock
Labels: 🌐 site: ALL
