Repository parameter1/ascend-media-websites, pull requests merged in 2023-07, with the labels that each got.

#487 Add Interesting Stories to Media Gallery pages, adjust gallery display.
  packages/global/templates/content/media-gallery.marko
  sites/aadmeetingnews.org/config/navigation.js
  sites/aadmeetingnews.org/server/routes/website-section/index.js
Labels: site: aadmeetingnews.org

#486 Set-up Identity x & Newsletter signup/pushdown
  docker-compose.yml
  packages/global-monorail/components/document.marko
  packages/global-monorail/components/layouts/content/default.marko
  packages/global-monorail/components/layouts/website-section/feed.marko
  packages/global-monorail/components/marko.json
  packages/global-monorail/components/site-header-c.marko
  packages/global-monorail/components/site-newsletter-menu.marko
  packages/global-monorail/config/identity-x-nav.js
  packages/global-monorail/config/identity-x.js
  packages/global-monorail/middleware/newsletter-state.js
  packages/global-monorail/scss/components/_newsletter-signup-banner-static.scss
  packages/global-monorail/scss/components/user.scss
  packages/global-monorail/scss/core.scss
  packages/global-monorail/start-server.js
  packages/global-monorail/templates/user/authenticate.marko
  packages/global-monorail/templates/user/index.js
  packages/global-monorail/templates/user/login.marko
  packages/global-monorail/templates/user/logout.marko
  packages/global-monorail/templates/user/profile.marko
  packages/global-monorail/templates/user/register.marko
  sites/ampulmonary.com/config/identity-x.js
  sites/ampulmonary.com/config/navigation.js
  sites/ampulmonary.com/config/newsletter.js
  sites/ampulmonary.com/config/site.js
Labels: help wanted

#493 Reduce "Interesting Stories" count to 6, adjust homepage layout accordingly AAD
  sites/aadmeetingnews.org/config/site.js
  sites/aadmeetingnews.org/server/templates/website-section/home.marko
Labels: site: aadmeetingnews.org

#494 Adjust right rail of Media Gallery pages AAD
  packages/global/components/blocks/right-rail.marko
  packages/global/scss/theme.scss
  packages/global/templates/content/media-gallery.marko
Labels: site: aadmeetingnews.org

#496 Newsletter Sign Up styling adjustments, Pulmonary
  packages/global-monorail/scss/components/_site-navbar-c.scss
  sites/ampulmonary.com/config/newsletter.js
Labels: 🌐 site: ampulmonary.com

#498 Update ‘Program’ url
  sites/aadmeetingnews.org/config/navigation.js
Labels: site: aadmeetingnews.org

#499 Allow for ‘Promotions’ on exhibitors pages
  packages/global/components/blocks/exhibitors.marko
Labels: 🌐 site: sessions.hub.heart.org, site: aadmeetingnews.org
