Repository parameter1/ascend-media-websites, pull requests merged in 2024-04, with the labels that each got.

#558 Add mindful ad unit event and append unit to creative context
  packages/bulletin/package.json
  packages/daily/package.json
  packages/global-monorail/package.json
  packages/global/package.json
  packages/minexpo/package.json
  sites/aadmeetingnews.org/package.json
  sites/aao.hns.org/package.json
  sites/acep.org/package.json
  sites/ampulmonary.com/package.json
  sites/asa.org/package.json
  sites/ashp.org/package.json
  sites/auadailynews.org/package.json
  sites/bcvs.hub.heart.org/package.json
  sites/bulletin.entnet.org/package.json
  sites/examplesite.org/package.json
  sites/hearthubs.org/package.json
  sites/hypertension.hub.heart.org/package.json
  sites/imex.ascendmedia.com/package.json
  sites/imexfrankfurt.ascendmedia.com/package.json
  sites/isc.hub.heart.org/package.json
  sites/minexpo.com/package.json
  sites/qcor.hub.heart.org/package.json
  sites/sessions.hub.heart.org/package.json
  sites/shm.org/package.json
  sites/vasculardiscovery.hub.heart.org/package.json
  yarn.lock
Labels: 🌐 site: ALL

#559 Update favicon
  sites/shm.org/server/public/android-chrome-192x192.png
  sites/shm.org/server/public/android-chrome-512x512.png
  sites/shm.org/server/public/apple-touch-icon.png
  sites/shm.org/server/public/favicon-16x16.png
  sites/shm.org/server/public/favicon-32x32.png
  sites/shm.org/server/public/favicon.ico
Labels: site: SHM

#562 Use `publisherId` to determine Aesthetics channel logo for Native-X Stories
  packages/global/components/site-header.marko
  packages/global/routes/native-x.js
Labels: site: aadmeetingnews.org

#563 Swap out Aesthetics logo with new version
  sites/aadmeetingnews.org/config/logos.js
Labels: site: aadmeetingnews.org

#564 Adjust nav items for Aesthetics channel, fix indentation
  packages/global/components/site-header.marko
Labels: site: aadmeetingnews.org
