Repository parameter1/ascend-media-websites, pull requests merged in 2024-03, with the labels that each got.

#551 Properly initialize Native-X Bulletin
  packages/bulletin/components/document.marko
  packages/bulletin/package.json
  yarn.lock
Labels: bug, 🌐 site: bulletin.entnet.org

#552 Update menu for SHM
  sites/shm.org/config/navigation.js
Labels: site: SHM

#553 2024 AUA updates
  sites/auadailynews.org/config/logos.js
  sites/auadailynews.org/config/navigation.js
  sites/auadailynews.org/server/styles/index.scss
Labels: 🌐 site: auadailynews.org

#554 Replace logo with cropped logo
  sites/auadailynews.org/config/logos.js
Labels: 🌐 site: auadailynews.org

#555 Increase image limit from 100 to 250 for content pages
  packages/global/graphql/fragments/content-page.js
Labels: 🌐 site: ALL

#556 Ensure creative exists and has values before rendering
  packages/global-monorail/utils/content-native-ad-inject.js
Labels: 🌐 site: ampulmonary.com

#557 P1 event tracking for native ads
  packages/bulletin/package.json
  packages/daily/package.json
  packages/global-monorail/package.json
  packages/global/package.json
  packages/minexpo/package.json
  sites/aadmeetingnews.org/package.json
  sites/aao.hns.org/package.json
  sites/acep.org/package.json
  sites/ampulmonary.com/package.json
  sites/asa.org/package.json
  sites/ashp.org/package.json
  sites/auadailynews.org/package.json
  sites/bcvs.hub.heart.org/package.json
  sites/bulletin.entnet.org/package.json
  sites/examplesite.org/package.json
  sites/hearthubs.org/package.json
  sites/hypertension.hub.heart.org/package.json
  sites/imex.ascendmedia.com/package.json
  sites/imexfrankfurt.ascendmedia.com/package.json
  sites/isc.hub.heart.org/package.json
  sites/minexpo.com/package.json
  sites/qcor.hub.heart.org/package.json
  sites/sessions.hub.heart.org/package.json
  sites/shm.org/package.json
  sites/vasculardiscovery.hub.heart.org/package.json
  yarn.lock
Labels: 🌐 site: ALL
